<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmos.edccommon.dao.piccompare.CoPicCompareInfoDAO" >
  <resultMap id="BaseResultMap" type="com.cmos.edccommon.beans.piccompare.CoPicCompareInfoDO" >
    <id column="CMPR_ID" property="cmprId" jdbcType="BIGINT" />
    <result column="REQST_SRC_CODE" property="reqstSrcCode" jdbcType="VARCHAR" />
    <result column="BIZ_TYPE_CODE" property="bizTypeCode" jdbcType="VARCHAR" />
    <result column="SWFTNO" property="swftno" jdbcType="VARCHAR" />
    <result column="PHOTO_PATH" jdbcType="VARCHAR" property="photoPath" />
    <result column="PIC_T_PATH" jdbcType="VARCHAR" property="picTPath" />
    <result column="PHOTO_TYPE" jdbcType="VARCHAR" property="photoType" />
    <result column="PIC_T_TYPE" jdbcType="VARCHAR" property="picTType" />
    <result column="RSP_CODE" property="rspCode" jdbcType="VARCHAR" />
    <result column="RSP_INFO_CNTT" property="rspInfoCntt" jdbcType="VARCHAR" />
    <result column="CMPR_RSLT" property="cmprRslt" jdbcType="VARCHAR" />
    <result column="CMPR_SCORE" property="cmprScore" jdbcType="VARCHAR" />
    <result column="OTHER_SCORE" jdbcType="VARCHAR" property="otherScore" />
    <result column="BACKTO_MSG_CNTT" property="backtoMsgCntt" jdbcType="VARCHAR" />
    <result column="CRT_USER_ID" property="crtUserId" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="CRT_APP_SYS_ID" property="crtAppSysId" jdbcType="VARCHAR" />
    <result column="MODF_USER_ID" property="modfUserId" jdbcType="VARCHAR" />
    <result column="MODF_TIME" property="modfTime" jdbcType="TIMESTAMP" />
    <result column="MODF_APP_SYS_ID" property="modfAppSysId" jdbcType="VARCHAR" />
  </resultMap>
<!--   新增人像比对日志记录 -->
  <insert id="insert" parameterType="com.cmos.edccommon.beans.piccompare.CoPicCompareInfoDO">
    insert into t_co_pic_compare_info_${splitName} (CMPR_ID, REQST_SRC_CODE, BIZ_TYPE_CODE, 
      SWFTNO, PHOTO_PATH, PIC_T_PATH, 
      PHOTO_TYPE, PIC_T_TYPE, RSP_CODE, 
      RSP_INFO_CNTT, CMPR_RSLT, CMPR_SCORE, 
      OTHER_SCORE, BACKTO_MSG_CNTT, CRT_USER_ID, 
      CRT_TIME, CRT_APP_SYS_ID, MODF_USER_ID, 
      MODF_TIME, MODF_APP_SYS_ID)
    values (#{cmprId,jdbcType=BIGINT}, #{reqstSrcCode,jdbcType=VARCHAR}, #{bizTypeCode,jdbcType=VARCHAR}, 
      #{swftno,jdbcType=VARCHAR}, #{photoPath,jdbcType=VARCHAR}, #{picTPath,jdbcType=VARCHAR}, 
      #{photoType,jdbcType=VARCHAR}, #{picTType,jdbcType=VARCHAR}, #{rspCode,jdbcType=VARCHAR}, 
      #{rspInfoCntt,jdbcType=VARCHAR}, #{cmprRslt,jdbcType=VARCHAR}, #{cmprScore,jdbcType=VARCHAR}, 
      #{otherScore,jdbcType=VARCHAR}, #{backtoMsgCntt,jdbcType=VARCHAR}, #{crtUserId,jdbcType=VARCHAR}, 
      #{crtTime,jdbcType=TIMESTAMP}, #{crtAppSysId,jdbcType=VARCHAR}, #{modfUserId,jdbcType=VARCHAR}, 
      #{modfTime,jdbcType=TIMESTAMP}, #{modfAppSysId,jdbcType=VARCHAR})
  </insert>
</mapper>