<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmos.edccommon.dao.phoneprovcode.HlrInfoDODAO" >
  <resultMap id="BaseResultMap" type="com.cmos.edccommon.beans.phoneprovcode.HlrInfoDO" >
    <id column="SCTNO_ID" property="sctnoId" jdbcType="BIGINT" />
    <result column="SCTNO_CODE" property="sctnoCode" jdbcType="VARCHAR" />
    <result column="SCTNO_TYPE_CD" property="sctnoTypeCd" jdbcType="VARCHAR" />
    <result column="REGN_CODE" property="regnCode" jdbcType="VARCHAR" />
    <result column="HLR_BELG_CITY_CODE" property="hlrBelgCityCode" jdbcType="VARCHAR" />
    <result column="BRUDRCT_CODE" property="brudrctCode" jdbcType="VARCHAR" />
    <result column="VALID_TIME" property="validTime" jdbcType="TIMESTAMP" />
    <result column="PROV_CODE" property="provCode" jdbcType="VARCHAR" />
    <result column="CRT_USER_ID" property="crtUserId" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="CRT_APP_SYS_ID" property="crtAppSysId" jdbcType="VARCHAR" />
    <result column="MODF_USER_ID" property="modfUserId" jdbcType="VARCHAR" />
    <result column="MODF_TIME" property="modfTime" jdbcType="TIMESTAMP" />
    <result column="MODF_APP_SYS_ID" property="modfAppSysId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_co_hlr_info
    where SCTNO_ID = #{sctnoId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cmos.edcoacc.beans.HlrInfoDO" >
    insert into t_co_hlr_info (SCTNO_ID, SCTNO_CODE, SCTNO_TYPE_CD, 
      REGN_CODE, HLR_BELG_CITY_CODE, BRUDRCT_CODE, 
      VALID_TIME, PROV_CODE, CRT_USER_ID, 
      CRT_TIME, CRT_APP_SYS_ID, MODF_USER_ID, 
      MODF_TIME, MODF_APP_SYS_ID)
    values (#{sctnoId,jdbcType=BIGINT}, #{sctnoCode,jdbcType=VARCHAR}, #{sctnoTypeCd,jdbcType=VARCHAR}, 
      #{regnCode,jdbcType=VARCHAR}, #{hlrBelgCityCode,jdbcType=VARCHAR}, #{brudrctCode,jdbcType=VARCHAR}, 
      #{validTime,jdbcType=TIMESTAMP}, #{provCode,jdbcType=VARCHAR}, #{crtUserId,jdbcType=VARCHAR}, 
      #{crtTime,jdbcType=TIMESTAMP}, #{crtAppSysId,jdbcType=VARCHAR}, #{modfUserId,jdbcType=VARCHAR}, 
      #{modfTime,jdbcType=TIMESTAMP}, #{modfAppSysId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmos.edcoacc.beans.HlrInfoDO" >
    update t_co_hlr_info
    set SCTNO_CODE = #{sctnoCode,jdbcType=VARCHAR},
      SCTNO_TYPE_CD = #{sctnoTypeCd,jdbcType=VARCHAR},
      REGN_CODE = #{regnCode,jdbcType=VARCHAR},
      HLR_BELG_CITY_CODE = #{hlrBelgCityCode,jdbcType=VARCHAR},
      BRUDRCT_CODE = #{brudrctCode,jdbcType=VARCHAR},
      VALID_TIME = #{validTime,jdbcType=TIMESTAMP},
      PROV_CODE = #{provCode,jdbcType=VARCHAR},
      CRT_USER_ID = #{crtUserId,jdbcType=VARCHAR},
      CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      CRT_APP_SYS_ID = #{crtAppSysId,jdbcType=VARCHAR},
      MODF_USER_ID = #{modfUserId,jdbcType=VARCHAR},
      MODF_TIME = #{modfTime,jdbcType=TIMESTAMP},
      MODF_APP_SYS_ID = #{modfAppSysId,jdbcType=VARCHAR}
    where SCTNO_ID = #{sctnoId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select SCTNO_ID, SCTNO_CODE, SCTNO_TYPE_CD, REGN_CODE, HLR_BELG_CITY_CODE, BRUDRCT_CODE, 
    VALID_TIME, PROV_CODE, CRT_USER_ID, CRT_TIME, CRT_APP_SYS_ID, MODF_USER_ID, MODF_TIME, 
    MODF_APP_SYS_ID
    from t_co_hlr_info
    where SCTNO_ID = #{sctnoId,jdbcType=BIGINT}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select SCTNO_ID, SCTNO_CODE, SCTNO_TYPE_CD, REGN_CODE, HLR_BELG_CITY_CODE, BRUDRCT_CODE, 
    VALID_TIME, PROV_CODE, CRT_USER_ID, CRT_TIME, CRT_APP_SYS_ID, MODF_USER_ID, MODF_TIME, 
    MODF_APP_SYS_ID
    from t_co_hlr_info
  </select>
  <select id="getProvCodeByPhoneNum" resultMap="String" parameterType="java.lang.String" >
    select PROV_CODE from t_co_hlr_info
    where SCTNO_CODE = #{phoneNum,jdbcType=VARCHAR}
  </select>
</mapper>