<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmos.edccommon.dao.rnfsCfg.TOpRnfsCfgDAO" >
  <resultMap id="BaseResultMap" type="com.cmos.edccommon.beans.rnfsCfg.TOpRnfsCfgDO" >
    <id column="CONFIG_ID" property="configId" jdbcType="BIGINT" />
    <result column="RNFS_GRP_NM" property="rnfsGrpNm" jdbcType="VARCHAR" />
    <result column="ROOT_PATH" property="rootPath" jdbcType="VARCHAR" />
    <result column="RNFS_ADDR_PRTNUM" property="rnfsAddrPrtnum" jdbcType="VARCHAR" />
    <result column="UPLOAD_DWNLD_MODE_CD" property="uploadDwnldModeCd" jdbcType="VARCHAR" />
    <result column="FTP_PRTNUM" property="ftpPrtnum" jdbcType="VARCHAR" />
    <result column="FTP_USER_NM" property="ftpUserNm" jdbcType="VARCHAR" />
    <result column="FTP_USER_PW" property="ftpUserPw" jdbcType="VARCHAR" />
    <result column="FTP_ALS" property="ftpAls" jdbcType="VARCHAR" />
    <result column="RMK" property="rmk" jdbcType="VARCHAR" />
    <result column="BIZ_SYS_CODE" property="bizSysCode" jdbcType="VARCHAR" />
    <result column="CRT_USER_ID" property="crtUserId" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="CRT_APP_SYS_ID" property="crtAppSysId" jdbcType="VARCHAR" />
    <result column="MODF_USER_ID" property="modfUserId" jdbcType="VARCHAR" />
    <result column="MODF_TIME" property="modfTime" jdbcType="TIMESTAMP" />
    <result column="MODF_APP_SYS_ID" property="modfAppSysId" jdbcType="VARCHAR" />
    <result column="CACHE_TYPE_CD" property="cacheTypeCd" jdbcType="VARCHAR" />
    <result column="VALID_FLAG" property="validFlag" jdbcType="VARCHAR" />
	<result column="GRP_CACHE_KEY_VAL" property="grpCacheKeyVal" jdbcType="VARCHAR" />
    <result column="ALS_CACHE_KEY_VAL" property="alsCacheKeyVal" jdbcType="VARCHAR" />  
  </resultMap>
  <sql id="Base_Column_List" >
    CONFIG_ID, RNFS_GRP_NM, ROOT_PATH, RNFS_ADDR_PRTNUM, UPLOAD_DWNLD_MODE_CD, FTP_PRTNUM, 
    FTP_USER_NM, FTP_USER_PW, FTP_ALS, RMK, BIZ_SYS_CODE, CRT_USER_ID, CRT_TIME, 
    CRT_APP_SYS_ID, MODF_USER_ID, MODF_TIME,MODF_APP_SYS_ID,CACHE_TYPE_CD,VALID_FLAG,
    GRP_CACHE_KEY_VAL,ALS_CACHE_KEY_VAL
  </sql>
  <select id="getRnfsGrpNmByType" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from t_op_rnfs_cfg
    where 1=1
    <if test="cacheTypeCd!=null and cacheTypeCd!=''">
      and CACHE_TYPE_CD = #{cacheTypeCd}
    </if>
  </select>
  <select id="getRnfsGrpNm" resultMap="BaseResultMap" parameterType="java.lang.String">
    select distinct RNFS_GRP_NM
    from t_op_rnfs_cfg
  </select>
  <select id="getRnfsGrpNmByrnfsGrpNm" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from t_op_rnfs_cfg
    where RNFS_GRP_NM = #{rnfsGrpNm,jdbcType=VARCHAR}
  </select>
   <delete id="delete" parameterType="com.cmos.edccommon.beans.rnfsCfg.RnfsCfgInDTO" >
    update t_op_rnfs_cfg
    set VALID_FLAG = '0'
    <where>
    <if test="configId!=null and configId!=''">
    CONFIG_ID = #{configId,jdbcType=VARCHAR}
    </if>
	<if test="rnfsGrpNm!=null and nfsGrpNm!=''">
    and RNFS_GRP_NM = #{nfsGrpNm,jdbcType=VARCHAR}
    </if>
    <if test="rootPath!=null and rootPath!=''">
    and ROOT_PATH = #{rootPath,jdbcType=VARCHAR}
    </if>
    <if test="rnfsAddrPrtnum!=null and rnfsAddrPrtnum!=''">
    and RNFS_ADDR_PRTNUM = #{rnfsAddrPrtnum,jdbcType=VARCHAR}
    </if>
    <if test="uploadDwnldModeCd!=null and uploadDwnldModeCd!=''">
    and UPLOAD_DWNLD_MODE_CD = #{uploadDwnldModeCd,jdbcType=VARCHAR}
    </if>
    <if test="ftpPrtnum!=null and ftpPrtnum!=''">
    and FTP_PRTNUM = #{ftpPrtnum,jdbcType=VARCHAR}
    </if>
    <if test="ftpUserNm!=null and ftpUserNm!=''">
    and FTP_USER_NM = #{ftpUserNm,jdbcType=VARCHAR}
    </if>
    <if test="ftpUserPw!=null and ftpUserPw!=''">
    and FTP_USER_PW = #{ftpUserPw,jdbcType=VARCHAR}
    </if>
    <if test="ftpAls!=null and ftpAls!=''">
    and FTP_ALS = #{ftpAls,jdbcType=VARCHAR}
    </if>
    <if test="rmk!=null and rmk!=''">
    and RMK = #{rmk,jdbcType=VARCHAR}
    </if>
    <if test="bizSysCode!=null and bizSysCode!=''">
    and BIZ_SYS_CODE = #{bizSysCode,jdbcType=VARCHAR}
    </if>
    <if test="cacheTypeCd!=null and cacheTypeCd!=''">
    and CACHE_TYPE_CD = #{cacheTypeCd,jdbcType=VARCHAR}
    </if>
    <if test="grpCacheKeyVal!=null and grpCacheKeyVal!=''">
    and GRP_CACHE_KEY_VAL = #{grpCacheKeyVal,jdbcType=VARCHAR}
    </if>
    <if test="alsCacheKeyVal!=null and alsCacheKeyVal!=''">
    and ALS_CACHE_KEY_VAL = #{alsCacheKeyVal,jdbcType=VARCHAR}
    </if>
    </where> 
  </delete>
  <insert id="insert" parameterType="com.cmos.edccommon.beans.rnfsCfg.RnfsCfgInDTO" >
    insert into t_op_rnfs_cfg (CONFIG_ID, RNFS_GRP_NM, ROOT_PATH, 
      RNFS_ADDR_PRTNUM, UPLOAD_DWNLD_MODE_CD, FTP_PRTNUM, 
      FTP_USER_NM, FTP_USER_PW,
      FTP_ALS, RMK, BIZ_SYS_CODE, 
      CRT_USER_ID, CRT_TIME, CRT_APP_SYS_ID, 
      CACHE_TYPE_CD, VALID_FLAG, GRP_CACHE_KEY_VAL, 
      ALS_CACHE_KEY_VAL)
    values (#{configId,jdbcType=BIGINT}, #{rnfsGrpNm,jdbcType=VARCHAR}, #{rootPath,jdbcType=VARCHAR}, 
      #{rnfsAddrPrtnum,jdbcType=VARCHAR}, #{uploadDwnldModeCd,jdbcType=VARCHAR}, #{ftpPrtnum,jdbcType=VARCHAR}, 
      #{ftpUserNm,jdbcType=VARCHAR}, #{ftpUserPw,jdbcType=VARCHAR},
      #{ftpAls,jdbcType=VARCHAR}, #{rmk,jdbcType=VARCHAR}, #{bizSysCode,jdbcType=VARCHAR}, 
      #{crtUserId,jdbcType=VARCHAR}, #{crtTime,jdbcType=TIMESTAMP}, #{crtAppSysId,jdbcType=VARCHAR},  
      #{cacheTypeCd,jdbcType=VARCHAR}, #{validFlag,jdbcType=VARCHAR}, #{grpCacheKeyVal,jdbcType=VARCHAR}, 
      #{alsCacheKeyVal,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="com.cmos.edccommon.beans.rnfsCfg.RnfsCfgInDTO" >
    update t_op_rnfs_cfg
    <set> 
    	<if test="rnfsGrpNm != null">
    	RNFS_GRP_NM = #{rnfsGrpNm,jdbcType=VARCHAR}
    	</if>
    	<if test="rootPath != null">
    	and ROOT_PATH = #{rootPath,jdbcType=VARCHAR}
    	</if>
    	<if test="rnfsAddrPrtnum != null">
    	and RNFS_ADDR_PRTNUM = #{rnfsAddrPrtnum,jdbcType=VARCHAR}
    	</if>
    	<if test="uploadDwnldModeCd != null">
    	and UPLOAD_DWNLD_MODE_CD = #{uploadDwnldModeCd,jdbcType=VARCHAR}
    	</if>
    	<if test="ftpPrtnum != null">
    	and FTP_PRTNUM = #{ftpPrtnum,jdbcType=VARCHAR}
    	</if>
    	<if test="ftpUserNm != null">
    	and FTP_USER_NM = #{ftpUserNm,jdbcType=VARCHAR}
    	</if>
    	<if test="ftpUserPw != null">
    	and FTP_USER_PW = #{ftpUserPw,jdbcType=VARCHAR}
    	</if>
    	<if test="ftpAls != null">
    	and FTP_ALS = #{ftpAls,jdbcType=VARCHAR}
    	</if>
    	<if test="rmk != null">
    	and RMK = #{rmk,jdbcType=VARCHAR}
    	</if>
    	<if test="modfUserId != null">
    	and MODF_USER_ID = #{modfUserId,jdbcType=VARCHAR}
    	</if>
    	<if test="modfTime != null">
    	and MODF_TIME = #{modfTime,jdbcType=TIMESTAMP}
    	</if>
    	<if test="modfAppSysId != null">
    	and MODF_APP_SYS_ID = #{modfAppSysId,jdbcType=VARCHAR}
    	</if>
    	<if test="cacheTypeCd != null">
    	and CACHE_TYPE_CD = #{cacheTypeCd,jdbcType=VARCHAR}
    	</if>
    	<if test="grpCacheKeyVal!=null">
	    and GRP_CACHE_KEY_VAL = #{grpCacheKeyVal,jdbcType=VARCHAR}
	    </if>
	    <if test="alsCacheKeyVal!=null">
	    and ALS_CACHE_KEY_VAL = #{alsCacheKeyVal,jdbcType=VARCHAR}
	    </if>
    </set>
    <where>
	    <if test="configId!=null and configId!=''">
	    CONFIG_ID = #{configId,jdbcType=VARCHAR}
	    </if>
		<if test="rnfsGrpNm!=null and nfsGrpNm!=''">
	    and RNFS_GRP_NM = #{nfsGrpNm,jdbcType=VARCHAR}
	    </if>
	    <if test="rootPath!=null and rootPath!=''">
	    and ROOT_PATH = #{rootPath,jdbcType=VARCHAR}
	    </if>
	    <if test="rnfsAddrPrtnum!=null and rnfsAddrPrtnum!=''">
	    and RNFS_ADDR_PRTNUM = #{rnfsAddrPrtnum,jdbcType=VARCHAR}
	    </if>
	    <if test="uploadDwnldModeCd!=null and uploadDwnldModeCd!=''">
	    and UPLOAD_DWNLD_MODE_CD = #{uploadDwnldModeCd,jdbcType=VARCHAR}
	    </if>
	    <if test="ftpPrtnum!=null and ftpPrtnum!=''">
	    and FTP_PRTNUM = #{ftpPrtnum,jdbcType=VARCHAR}
	    </if>
	    <if test="ftpUserNm!=null and ftpUserNm!=''">
	    and FTP_USER_NM = #{ftpUserNm,jdbcType=VARCHAR}
	    </if>
	    <if test="ftpUserPw!=null and ftpUserPw!=''">
	    and FTP_USER_PW = #{ftpUserPw,jdbcType=VARCHAR}
	    </if>
	    <if test="ftpAls!=null and ftpAls!=''">
	    and FTP_ALS = #{ftpAls,jdbcType=VARCHAR}
	    </if>
	    <if test="rmk!=null and rmk!=''">
	    and RMK = #{rmk,jdbcType=VARCHAR}
	    </if>
	    <if test="bizSysCode!=null and bizSysCode!=''">
	    and BIZ_SYS_CODE = #{bizSysCode,jdbcType=VARCHAR}
	    </if>
	    <if test="cacheTypeCd!=null and cacheTypeCd!=''">
	    and CACHE_TYPE_CD = #{cacheTypeCd,jdbcType=VARCHAR}
	    </if>
	    <if test="grpCacheKeyVal!=null">
	    and GRP_CACHE_KEY_VAL = #{grpCacheKeyVal,jdbcType=VARCHAR}
	    </if>
	    <if test="alsCacheKeyVal!=null">
	    and ALS_CACHE_KEY_VAL = #{alsCacheKeyVal,jdbcType=VARCHAR}
	    </if>
    </where> 
  </update>
  <select id="select" resultMap="BaseResultMap" parameterType="com.cmos.edccommon.beans.rnfsCfg.RnfsCfgInDTO" >
    select CONFIG_ID, RNFS_GRP_NM, ROOT_PATH, RNFS_ADDR_PRTNUM, UPLOAD_DWNLD_MODE_CD, 
    FTP_PRTNUM, FTP_USER_NM, FTP_USER_PW, STS_CD, FTP_ALS, RMK, CRT_USER_ID, 
    CRT_TIME, CRT_APP_SYS_ID, MODF_USER_ID, MODF_TIME, MODF_APP_SYS_ID, CACHE_TYPE_CD, 
    VALID_FLAG, GRP_CACHE_KEY_VAL, ALS_CACHE_KEY_VAL
    from t_op_rnfs_cfg
    <where>
    <if test="rnfsGrpNm!=null and nfsGrpNm!=''">
    RNFS_GRP_NM = #{nfsGrpNm,jdbcType=VARCHAR}
    </if>
    <if test="rootPath!=null and rootPath!=''">
    and ROOT_PATH = #{rootPath,jdbcType=VARCHAR}
    </if>
    <if test="rnfsAddrPrtnum!=null and rnfsAddrPrtnum!=''">
    and RNFS_ADDR_PRTNUM = #{rnfsAddrPrtnum,jdbcType=VARCHAR}
    </if>
    <if test="uploadDwnldModeCd!=null and uploadDwnldModeCd!=''">
    and UPLOAD_DWNLD_MODE_CD = #{uploadDwnldModeCd,jdbcType=VARCHAR}
    </if>
    <if test="ftpPrtnum!=null and ftpPrtnum!=''">
    and FTP_PRTNUM = #{ftpPrtnum,jdbcType=VARCHAR}
    </if>
    <if test="ftpUserNm!=null and ftpUserNm!=''">
    and FTP_USER_NM = #{ftpUserNm,jdbcType=VARCHAR}
    </if>
    <if test="ftpUserPw!=null and ftpUserPw!=''">
    and FTP_USER_PW = #{ftpUserPw,jdbcType=VARCHAR}
    </if>
    <if test="ftpAls!=null and ftpAls!=''">
    and FTP_ALS = #{ftpAls,jdbcType=VARCHAR}
    </if>
    <if test="rmk!=null and rmk!=''">
    and RMK = #{rmk,jdbcType=VARCHAR}
    </if>
    <if test="bizSysCode!=null and bizSysCode!=''">
    and BIZ_SYS_CODE = #{bizSysCode,jdbcType=VARCHAR}
    </if>
    <if test="cacheTypeCd!=null and cacheTypeCd!=''">
    and CACHE_TYPE_CD = #{cacheTypeCd,jdbcType=VARCHAR}
    </if>
    <if test="grpCacheKeyVal!=null and grpCacheKeyVal!=''">
    and GRP_CACHE_KEY_VAL = #{grpCacheKeyVal,jdbcType=VARCHAR}
    </if>
    <if test="alsCacheKeyVal!=null and alsCacheKeyVal!=''">
    and ALS_CACHE_KEY_VAL = #{alsCacheKeyVal,jdbcType=VARCHAR}
    </if>
    </where> 
  </select>
</mapper>